
@{

    Layout = "~/Views/Shared/_LayoutError.cshtml";

}

    <div class="div_notificacion">
        <span class="icon-sad"></span>
        <h2>El navegador no admite nuestra plataforma...</h2>
    </div>

    



