<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Pagina de Error</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images-dolce/favicons/favicon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/images-dolce/favicons/dq-57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="~/images-dolce/favicons/dq-60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/images-dolce/favicons/dq-72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/images-dolce/favicons/dq-76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/images-dolce/favicons/dq-114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/images-dolce/favicons/dq-120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/images-dolce/favicons/dq-144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/images-dolce/favicons/dq-152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images-dolce/favicons/dq-180.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="~/images-dolce/favicons/dq-96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/images-dolce/favicons/dq-32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/images-dolce/favicons/dq-16.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="~/images-dolce/favicons/dq-57.png" />
    <meta name="msapplication-square70x70logo" content="~/images-dolce/favicons/dq-70.png" />
    <meta name="msapplication-square150x150logo" content="~/images-dolce/favicons/dq-150.png" />
    <meta name="msapplication-square310x310logo" content="~/images-dolce/favicons/dq-310.png" />
    <meta name="msapplication-wide310x150logo" content="~/images-dolce/favicons/dq-310-150.png" />
    <link rel="stylesheet" type="text/css" href="~/css-dolce/dolce-styles.css">
    <link href="~/Content/Dolce.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>

<body>

    <div class="div-mensaje-error">
        @RenderBody()
    </div>

    <footer class="error-footer">
        <div class="max-w-01 font-size-null">
            <div class="row">
                <ul class="width-100 display-inline">

                    <li class="width-70 width_10-100 copyright v-align-m tx-center_10">
                        <span class="display-inline v-align-m"><img src="~/images-dolce/logo-dolce-white.png" width="88" height="34" alt="" /></span> © 2016 Dolce Todo los los derechos reservados
                    </li>

                    <li class="tx-center width-30 width_10-100 v-align-m margin-t_10-01">
                        <ul class="creditos tx-right tx-center_10 ">
                            <li class="tx-center">
                                Diseño
                                <a href="http://www.josedavidsanchez.com" target="_blank"><img src="http://josedavidsanchez.com/creditos-clientes/iso-josedavidsanchez.svg" alt="" width="22" height="26"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="~/js-dolce/modernizr.js"></script>
    <script src="~/js-dolce/general-scripts.js"></script>
</body>

</html>



