
@{
    ViewBag.Title = "Menu Principal";
    var mensaje = (ViewBag.mensaje == "") ? string.Empty : ViewBag.mensaje;
}

@section css
    {
        
        <link href="~/css-dolce/masterslider.css" rel="stylesheet" />

    }

@section prueba
    {
        <ul class="display-inline v-align-m cont-linksgeneral hover-fx-02 pushy pushy-left">
            <li><a href="../Home/MenuAsesora" class="active"><span class="color-02" data-hover="Menu">Menu</span></a></li>
            @*<li><a href="intranet-asesoras.html"><span class="color-02" data-hover="Intranet">Intranet</span></a></li>*@
            <li><a href="http://www.dolcecatalogo.com" target="_blank"><span class="color-02" data-hover="Web">Web</span></a></li>
        </ul>
    }

@Html.Hidden("mensaje", (string)mensaje);

<main class="max-w-02">

    <div class="header-int-01 margin-tb-30 font-size-null">
        <div class="row">
            <ul class="width-100 v-align_li-m">
                <li class="width-50 width_10-100 tx-center_10">
                    <h1 class="color-pink-01">pedidos</h1>
                </li>
                <li class="tx-right width-50 width_10-100 tx-center_10 margin-t_10-01">
                    <p>Realiza tus pedidos, consulta tus puntos y mira tu saldo</p>
                </li>
            </ul>
        </div>
    </div>

    <hr class="margin-tb-25">

    <div class="row font-size-null">
        <div class="width-50 width_4-100 v-align-t">
            <div class="ms-skin-default" id="slider-principal">
                <!-- Slider imagen -->
                <div class="ms-slide">

                    <img src="~/images-dolce/slider/blank.gif" data-src="../images-dolce/slider-pedidos/slider-01.jpg" alt="Dolce" />

                </div>
                <!-- Slider imagen -->
                <!-- Slider Video HTML5 -->
                <div class="ms-slide">

                    <video controls="controls">
                        <source src="~/videos/video1.mp4" type="video/mp4" />
                    </video>

                    <video data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
                        <source src="~/videos/video1.mp4" type="video/mp4" />
                        <source src="~/videos/video1.webm" type="video/webm" />
                        <source src="~/videos/video1.ogv" type="video/ogg" />
                    </video>
                    <img src="~/images-dolce/slider/blank.gif" data-src="../videos/video1.jpg" alt="Dolce" />
                </div>
                <!-- Slider Video HTML5 -->
                <!-- Slider Video Vimeo o Youtube -->
                <div class="ms-slide">
                    <img src="~/images-dolce/slider/blank.gif" data-src="http://img.youtube.com/vi/tzQYEejWvQA/hqdefault.jpg" alt="Dolce" />
                    <a href="http://youtube.com/embed/tzQYEejWvQA" data-type="video"></a>
                    <!--<a href="http://player.vimeo.com/video/53914149" data-type="video"></a>-->
                </div>
                <!-- Slider Video Vimeo o Youtube -->
            </div>
        </div>

        <div class="width-50 width_4-100">
            <div class="row-02 flex-jst">

                <a href="..\Asesoras\Index" class="btn-box-gray">
                    <div class="cont-btn-box">
                        <div class="icon-section">
                            <span class="box-icon-01 icon-p"></span>
                            <span class="box-icon-02 icon-o"></span>
                        </div>
                        <h2>Digitar pedido</h2>
                    </div>
                </a>

                <a href="..\Asesoras\ListaPedidosAsesora" class="btn-box-gray">
                    <div class="cont-btn-box">
                        <div class="icon-section">
                            <span class="list-icon-01 icon-p"></span>
                            <span class="list-icon-02 icon-o"></span>
                        </div>
                        <h2>listado de pedidos</h2>
                    </div>
                </a>

                <a href="#" class="btn-box-gray">
                    <div class="cont-btn-box">
                        <div class="icon-section">
                            <span class="card-icon-01 icon-p"></span>
                            <span class="card-icon-02 icon-o"></span>
                        </div>
                        <h2>Cuenta corriente</h2>
                    </div>
                </a>

                <a href="#" class="btn-box-gray">
                    <div class="cont-btn-box">
                        <div class="icon-section">
                            <span class="points-icon-01 icon-p"></span>
                            <span class="points-icon-02 icon-o"></span>
                        </div>
                        <h2>Movimiento de Puntos</h2>
                    </div>
                </a>


            </div>
        </div>
    </div>

</main>


@section scripts
{
    
    <script src="~/js-dolce/masterslider.js"></script>
    <script type="text/javascript">

        $(function () {

            var slider = new MasterSlider();
            slider.setup('slider-principal', {
                width: 711,
                height: 400,
                speed: 20,
                view: 'flow'
            });

            slider.control('bullets', {
                autohide: false
            });

            var mensaje = $("#mensaje").val();

            if (mensaje != "") {

                MensajeInterno(mensaje, iconoMensaje.info, modulos.asesora);

            }

        });

    </script>
      
}

